<mat-toolbar class="mat-elevation-z5">
    <mat-toolbar-row>
        <span>My App</span>
        <span class="example-spacer "></span>
        <button mat-icon-button><mat-icon  aria-hidden="false " aria-label="Example home icon " fontIcon="help "></mat-icon></button>
        <button mat-icon-button><mat-icon  aria-hidden="false " aria-label="Example home icon " fontIcon="settings "></mat-icon></button>
        <button mat-icon-button><mat-icon  aria-hidden="false " aria-label="Example home icon " fontIcon="home "></mat-icon></button>
    </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
    <mat-sidenav mode="side" opened>
        <mat-nav-list style=" width:200px ">
            <a mat-list-item routerLink='login' style="height:60px ">
                <mat-icon>login</mat-icon>Login</a>
            <mat-divider></mat-divider>
            <a mat-list-item routerLink='rest' style="height:60px ">
                <mat-icon>restaurant</mat-icon>
                Restaurant</a>
            <mat-divider></mat-divider>
            <a mat-list-item routerLink='mall' style=" height:60px ">
                <mat-icon>local_mall</mat-icon>
                Mall</a>
            <mat-divider></mat-divider>
            <a mat-list-item routerLink='movies' style="height:60px ">
                <mat-icon>movies</mat-icon>Movies</a>
            <mat-divider></mat-divider>
            <a mat-list-item routerLink='exit' style="height:60px ">
                <mat-icon>exit_to_app</mat-icon>Exit</a>
            <mat-divider></mat-divider>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <p style="height:88vh; ">
            <router-outlet></router-outlet>
        </p>
    </mat-sidenav-content>
</mat-sidenav-container>